<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Task Tracker</title>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="amogymous"
        />
    </head>
    <body>
        {% csrf_token %}
        <div class="container">
            <br />

            <!-- Ким Михаил крайне ответственно выполнил задачу и добавил свою фамилию в заголовок. -->
            <h2><strong>Task Tracker 📝 Ким М.А. </strong></h2>

            <br />

            <!-- В данном блоке кода Ким Михаил добавил блок с пунктами выполнения задания. -->
            <ul class="list-group">
                <li class="list-group-item mb-2">3.1. Переносли базы данных проекта</li>
                <li class="list-group-item mb-2">3.2. Создали новое приложение tasks на Django</li>
                <li class="list-group-item mb-2">3.3. Подключили приложение в конфигурацию</li>
                <!-- Ким Михаил, что означает эта строка выше -->
                <!-- Алексей отвечает Михаилу, что это строка добавляет пункт 3.3 в блок наших задач HTML -->
                <!-- Ким Михаил добавляет оценку Алексею 5/5 за ответ на его вопрос -->
                <li class="list-group-item mb-2">3.4. Перезагрузили сервер</li>
                <li class="list-group-item mb-2">3.5. Вызвали функцию представления</li>
                <li class="list-group-item mb-2">3.6. Добавили логику представления</li>
                <li class="list-group-item mb-2">3.7. Создали папку в templates/stasks/impor</li>
                <li class="list-group-item mb-2">3.8. Импортировали код приложения в index.html</li>
                <li class="list-group-item mb-2">3.9. Изменили код так, чтобы он включал фамилию</li>
                <li class="list-group-item mb-2">3.10. Оформили текущий список в index.html проекта</li>
                <li class="list-group-item mb-2">3.11. Создали секретный ключ и вывели его в приложении</li>
                <li class="list-group-item mb-2">3.12. Нашли изменения в коде соседа и описали его комментарием</li>
                <li class="list-group-item mb-2">3.13. Удалили в коде index.html строки 2-12 и восстановили изменения</li>
                <li class="list-group-item mb-2">3.14. Создали комментарий в index.html в соответствующей строке кода</li>
                <li class="list-group-item mb-2">3.15. Создали скрипт</li>
                <li class="list-group-item mb-2">3.16. Создали на GitHub публичный репозиторий и связали с replit</li>
                <li class="list-group-item mb-2">3.17. Внесли изменения в index.html, чтобы он выводил дополнительные разделы</li>
                <li class="list-group-item mb-2">3.18. Создали новую вутку в git</li>
                <li class="list-group-item mb-2">3.19. Подключили соседа к реплике и выполнили конфликт слияния</li>
                <li class="list-group-item mb-2">3.20. Проведели тестирование приложения</li>
                <li class="list-group-item mb-2">Дополнительные разделы с fa.ru: {{ text_from_file }}</li>
                <li class="list-group-item mb-2">Утекший секрет: {{ some_exposed_secret }}</li>
            </ul>
        </div>

        <!-- Ким Михаил добавил в конец страницы футер с утекшим секретом -->
        <footer class="container mt-5 mb-3">
            <hr>
            <p class="text-muted">Секрет: {{ some_exposed_secret }}</p>
        </footer>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>